@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Playfair+Display&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

#titulo{
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
}